<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">   
  <title>{% block title %}{% endblock %}</title>
  {% block css %}
  {% endblock %}

  <!-- jQuery -->
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> 
  <!-- Bootstrap JS -->
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script> 
  <!-- JS CSRF Handling -->
  <script type="text/javascript" src="/static/js/csrf.js"></script>
  <!-- Comments JS -->
  <script type="text/javascript" src="/static/js/commenting.js"></script>
  <!-- Posting JS -->  
  <script type="text/javascript" src="/static/js/poststream.js"></script>
</head>


<body>

  <!-- Navbar Cite: http://getbootstrap.com/examples/dashboard/ -->
  <nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
        <div class="grumblr-brand">
            <a class="navbar-brand" href="{% url 'home' %}" title="Home">
              <img src="/static/images/grumblr_logo.png" height="75" width="120">
            </a>
        </div>
      </div>
    <div class="navbar-collapse collapse"> 
      <!-- Buttons on Grumblr Navbar -->
      <ul class="nav navbar-nav navbar-right">
      <!-- Search Bar -->
        <li>
          <button class="btn btn-primary btn-lg" type="button" title="Make New Grumblr Post">
            <a href="{% url 'makepost-page' %}"><b>+ </b>Grumblr Post</a>
          </button>
        </li>
        <li> 
          <div>
            <form class="navbar-form navbar-left" role="search" action="{% url 'search-results' %}" method="post">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Search..." name="search">
                <div class="input-group-btn">
                  <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                </div>
              </div>
              <!-- <input name="csrfmiddlewaretoken" type="hidden" value="{{token}}"> -->
              {% csrf_token %}
            </form>
          </div>
        </li>
        <!-- User and dropdown -->
        <li class="dropdown">
          <div class="btn-group">
            <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown">
              <img src="{{profile.img.url}}" title="User Profile" width="30" height="30"> <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li><a href="{% url 'view-profile-user' profile.user.username %}" style="color:#6495ED">View Profile</a></li>
            </ul>
          </div>
        </li>
        <!-- Home Button -->
        <li>
          <button class="btn btn-danger btn-lg" type="button" title="Home">
            <a href="/">Home</a>
          </button>
        </li>
        <!-- Log Out Button -->
        <li>
          <button class="btn btn-danger btn-lg" type="button" title="Log Out">
            <a href="{% url 'logout' %}">Logout</a>
          </button>
        </li>
      </ul>
    </div>
  </div>
  </nav>

  {% block base %}
  {% endblock %}

</body>

</html>