{% extends "grumblrapp/grumblr-base.html" %}  

{% block title %} Home - Followers {% endblock %}

{% block css %}
<!-- Bootstrap core CSS -->
<link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">

<!-- Custom styles for this template -->
<link href="/static/css/header-bar-style.css" rel="stylesheet">
<link href="/static/css/home.css" rel="stylesheet">
<link href="/static/css/post.css" rel="stylesheet">
{% endblock %}

  
{% block base %}
<!-- DASHBOARD -->
<div class="grumblr-dashboard">
  <div class="container">
      <div class="row" style="text-align:center">
        <form class="topform" action="{% url 'home' %}" method="post">
          <button class="btn btn-primary btn-lg follow" type="submit" style="margin-right:30px">Your Posts</button>
          {% csrf_token %}
        </form>
        <form class="topform" action="{% url 'home-followers' %}" method="post">
          <button class="btn btn-danger btn-lg follow" type="submit">Follower's Posts</button>
          {% csrf_token %}
        </form>
      </div>
      <br>
      {% if not posts %}
        <h4 style="text-align:center"> You are not following anyone yet! </h4>
      {% else %} <!-- Not a grumblr noob anymore -->  
        <h3 style="text-align:center"> YOUR FOLLOWER'S POSTS </h3>
        <div class="postList">
        {% for post in posts %}
          <!-- blocked=False because view.home_followers will filter out
          posts that were blocked & owner=False because can't follow yourself -->
          {% include "grumblrapp/post.html" with post=post.0 token=csrf_token path='home-followers' form=form followed=True is_home=False disliked=post.1 blocked=post.2 is_owner=False only %}
        {% endfor %} <!-- followerposts -->
        </div>
      {% endif %}

  </div> <!-- .container -->
</div> <!-- .grumblr-dashboard -->
{% endblock %}