{% extends "grumblrapp/grumblr-base.html" %}

{% block title %} Home - Grumblr {% endblock %}

{% block css %}
<!-- Bootstrap core CSS -->
<link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">

<!-- Custom styles for this template -->
<link href="/static/css/home.css" rel="stylesheet">
<link href="/static/css/post.css" rel="stylesheet">
<link href="/static/css/header-bar-style.css" rel="stylesheet">
{% endblock %}

{% block base %}
<!-- DASHBOARD -->
<div class="grumblr-dashboard">
  <div class="container">
      {% if not posts %}
        <!-- Button trigger modal -->
          <div class="col-md-12" style="text-align:center">
            <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#getStartedModal" style="width:300px; height:50px">
              Get Started!
            </button>
          </div>

          <!-- Modal for Grumblr Newcomers -->
          <div class="modal fade" id="getStartedModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                  <h3 class="modal-title" id="myModalLabel">Welcome to Grumblr!</h3>
                </div>
                <div class="modal-body" style="text-align:center">
                  <p style="font-size:150%;">
                  Now that you're here, why don't you get started on making your first grumblr post! 
                  </p>
                  <br>
                  <button class="btn btn-primary btn-lg" type="button" title="Make New Grumblr Post">
                    <a href="{% url 'makepost-page' %}"><b>+ </b></font>Grumblr Post</a>
                  </button>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div> 
      {% else %} <!-- Not a grumblr noob anymore -->
        <!-- Top buttons to choose stream -->
        <div class="row" style="text-align:center">
          <form class="topform" action="{% url 'home' %}" method="post">
            <button class="btn btn-primary btn-lg follow" type="submit" style="margin-right:30px">Your Posts</button>
            {% csrf_token %}
          </form>
          <form class="topform" action="{% url 'home-followers' %}" method="post">
            <button class="btn btn-danger btn-lg follow" type="submit">Follower's Posts</button>
            {% csrf_token %}
          </form>
        </div>
        <h3 style="text-align:center"> YOUR POSTS </h3>
        {% for post in posts %}
          {% include "grumblrapp/post.html" with post=post token=csrf_token form=form path="home" is_home=True blocked=False is_owner=True only %}
        {% endfor %}
      {% endif %}

  </div> <!-- .container -->
</div> <!-- .grumblr-dashboard -->
{% endblock %}
