<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Login - Grumblr</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/css/login.css" rel="stylesheet">

  </head>

  <body>
    <!-- Template: http://getbootstrap.com/examples/signin/ -->
  	<img src="/static/images/grumblr_logo.png" alt="grumblr logo">

    {% if form.errors %}
      <div class="alert alert-danger" role="alert" style="text-align:center">Incorrect username and password. Please try again.</div>
    {% endif %}

    <div class="container">
      <form class="form-signin" role="form" method="post" action="{% url 'login' %}">
        <h2 class="form-signin-heading">Please Login!</h2>
        {{form.username}}
        {{form.password}}
        <label class="checkbox">
          <input type="checkbox" value="remember-me"> Remember me
        </label>
        <button class="btn btn-lg btn-primary btn-block" type="submit" value="Login">Login</button>
        <input type="hidden" name="next" value="{{ next }}"/> 
        <br>
        <a href="{% url 'register' %}" class="btn btn-success grumblr-signup" type="button">Sign Up</a>
        {% csrf_token %}
      </form>
      <a style="color:black;margin-bottom:40px" href="{% url 'reset' %}" class="btn btn-default"><strong>Reset Password</strong></a>
    </body>
</html>
