{% extends "grumblrapp/grumblr-base.html" %}
	    
{% block title %} Making Grumblr Post - Grumblr {% endblock %}

{% block css %}
<!-- Bootstrap core CSS -->
<link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">

<!-- Custom styles for this template -->
<link href="/static/css/header-bar-style.css" rel="stylesheet">
<link href="/static/css/make-post.css" rel="stylesheet">
{% endblock %}

{% block base %}
{% for error in form.non_field_errors %}
  <div class="alert alert-danger" role="alert" style="text-align:center">{{error}}</div>
{% endfor %}
<div class="container">
	<div class="row">
		<h4 style="text-align:center"> YOU MUST WRITE SOMETHING (Title and Description)! Adding an image is optional </h4>
		<!-- action="{% url 'make-a-post' %}" -->
		<form enctype="multipart/form-data" role="form" method="post" id="postForm" action="{% url 'make-a-post' %}">
			<div class="form-group">
		    	<label for="title">{{form.title.label_tag}}</label>
		    	{{form.title}}
		  	</div> 	
		 	<div class="form-group">
		    	<label for="description">{{form.textpost.label_tag}}</label>
		    	{{form.textpost}}
		  	</div> 		  
		  	<div class="form-group">
				<label for="inputFile">{{form.image.label_tag}}</label>
				{{form.image}}
			</div>
			<button class="btn btn-lg btn-primary post" type="submit">Post</button>
		  	{% csrf_token %}
		</form>
	</div>
</div>
{% endblock %}