<!DOCTYPE HTML>
<html>
<head>
  <meta charset="utf-8">
  <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/static/css/emailconfirm.css" rel="stylesheet">
  <title>Email Confirmation</title>
</head>

<body>
	<img src="/static/images/grumblr_logo.png" alt="grumblr logo">
	<p>
	A confirmation email has been sent to {{email}}. Please click the link in the email to confirm your email address and complete your registation.
	</p>
</body>
</html>

