<div class="row posts" id="{{post.id}}">
  <!-- User icon and follow btn -->
  <div class="col-md-2 left">
    <a href="{% url 'view-profile-user' post.profile.user.username %}">
    <img class="user" src="{{post.profile.img.url}}">
    </a>
    <button class="btn btn-danger"><a href="{% url 'view-profile-user' post.profile.user.username %}" style="color:#550000;font-size:20px;"><strong>{{post.profile.user.username}}</strong></a></button>
    <br>
    {% if not is_home %}
      {% if not is_owner %}
        {% if followed %} <!-- User is following -->
          <form method="post" action="{% url 'unfollow' post.profile.user.username %}">
            <button class="btn btn-default btn-lg follow" type="submit">
              <span class="glyphicon glyphicon-minus">Unfollow</span>
            </button>
            <input name="csrfmiddlewaretoken" type="hidden" value="{{token}}">
          </form>
        {% else %} <!-- User is not following -->
         <form method="post" action="{% url 'follow' post.profile.user.username %}">
            <button class="btn btn-default btn-lg follow" type="submit">
              <span class="glyphicon glyphicon-plus">Follow</span>
            </button>
            <input name="csrfmiddlewaretoken" type="hidden" value="{{token}}">
          </form>
        {% endif %}
      {% endif %}
    {% endif %}
  </div>

  <!-- Beef of post -->
  <div class="col-md-8 main">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">{{post.title}}</h3>
      </div>
      <div class="panel-body">
        {{post.textpost}}
        <br>
        {% if post.image %}
          <img style="display:block;margin:10px auto;max-width:500px;max-height:700px" src="{{post.image.url}}" class="thumbnail">
        {% endif %}
        <br>
        {{post.posted_at}}
      </div>
    </div>
  </div>

  <!-- Sidebar buttons -->
  <div class="col-md-2 right">
    <ul class="nav nav-sidebar">
      <li>
        {% if not is_home %}
          {% if disliked %}
            <form method="post" role="form" action="{% url 'undislike' post.id %}">
              <button class="btn btn-warning btn-lg" type="submit" name="dislike">
                <span class="glyphicon glyphicon-thumbs-up"> Un-Dislike</span>
              </button>
              <input name="csrfmiddlewaretoken" type="hidden" value="{{token}}">
            </form>
          {% else %}
            <form method="post" role="form" action="{% url 'dislike' post.id %}">
              <button class="btn btn-warning btn-lg" type="submit" name="dislike">
                <span class="glyphicon glyphicon-thumbs-down"> Dislike</span>
              </button>
              <input name="csrfmiddlewaretoken" type="hidden" value="{{token}}">
            </form>
          {% endif %}
        {% endif %}
      </li>
      <li>
        <button class="getComments btn btn-success btn-lg" type="button" post-id="{{post.id}}" data-toggle="modal" data-target="#{{post.profile.user.username}}{{post.id}}">
          <span class="glyphicon glyphicon-pencil"> Comment</span>
        </button>
      </li>
      <li>
      {% if not is_home %}
        {% if not is_view_profile %}
        {% if not blocked %}
        <form method="post" role="form" action="{% url 'block' post.profile.user.username %}">
          <button class="btn btn-danger btn-lg" type="submit" name="block">
            <span class="glyphicon glyphicon-ban-circle"> Block</span>
          </button>
          <input name="csrfmiddlewaretoken" type="hidden" value="{{token}}">
        </form>  
        {% else %}
        <form method="post" role="form" action="{% url 'unblock' post.profile.user.username %}">
          <button class="btn btn-danger btn-lg" type="submit" name="block">
            <span class="glyphicon glyphicon-ban-circle"> Unblock</span>
          </button>
          <input name="csrfmiddlewaretoken" type="hidden" value="{{token}}">
        </form>  
        {% endif %}
        {% endif %}
      {% endif %}
      </li>
    </ul>
  </div>
</div> <!-- .row -->

<!-- Modal for User Commenting -->
<div class="modal fade" id="{{post.profile.user.username}}{{post.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Grumblr Comment Box</h4>
      </div>
      <div class="modal-body">
        <!-- Grumblr Comment Box -->
        <!-- Cite: http://codepen.io/magnus16/pen/buGiB -->
        <div class="comment-box">
          <ul class="commentList commentList{{post.id}}">
          </ul>

          <form id="commentForm{{post.id}}" role="form" method="post">
            <div id="goDown{{post.id}}"></div>
            <div class="form-group"> 
              {{form.comment}}
            </div>
            <div class="form-group">
              <button type="submit" class="addComment btn btn-default" post-id="{{post.id}}">Add</button>
            </div>
            <input name="csrfmiddlewaretoken" type="hidden" value="{{token}}">
          </form> 
        
        </div> <!-- .comment-box -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>