<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Registration - Grumblr</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/registration.css" rel="stylesheet">
    <style>
      .errorlist {
        list-style: none;
        margin: 0px;
        margin-left: -35px;
      }
    </style>
</head>

<body>
  <!-- Template: http://getbootstrap.com/examples/signin/ -->
  <a href="/grumblrapp/login">
    <img src="/static/images/grumblr_logo.png" alt="grumblr logo">
  </a>
  <!-- Error messages -->
  {% for error in form.non_field_errors %}
    <div class="alert alert-danger" role="alert">{{error}}</div>
  {% endfor %}

  <div class="container">
    <h3> Become a Grumblr Today! </h3>
    <form role="form" action="{% url 'register' %}" method="post">
      {% for field in form.visible_fields %}
        <div class="form-group">
          {% if field.errors %}
            <div class="form-group has-error">
              <label class="control-label">{{field.errors}}</label>
              {{field}}
            </div>
          {% else %}
            {{field.label_tag}}
            {{field}}
          {% endif %}
        </div>
      {% endfor %}
      <button type="submit" value="Register" class="btn btn-default">Register</button>
      {% csrf_token %}
    </form>
  </div> <!-- .container -->

</body>

</html>
