<!DOCTYPE HTML>
<html>
<head>
  <meta charset="utf-8">
  <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/static/css/emailconfirm.css" rel="stylesheet">
  <title>Password Reset Confirmation</title>
</head>

<body>
	<img src="/static/images/grumblr_logo.png" alt="grumblr logo">
	<p>
		Password Reset!!! Click the button below to head back the login page.
		<br> <br>
		<a href="{% url 'login' %}" class="btn btn-default" style="color:black">Back to Login</a>
	</p>
	
</body>
</html>

