<!DOCTYPE HTML>
<html>
<head>
  <meta charset="utf-8">
  <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <style>
  	body {
  		background-color: #D9534F;
  	}
  	img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	}
  </style>
  <title>Reset Password Confirmation</title>
</head>

<body>
	<img src="/static/images/grumblr_logo.png" alt="grumblr logo">
	<div class="container">
		<div class="row">
			<div class="col-md-10">
			{% for error in form.non_field_errors %}
    			<div class="alert alert-danger" role="alert">{{error}}</div>
  			{% endfor %}
  			<form role="form" action="" method="post">
				{% for field in form %}
            		<div class="form-group">         
		          	{{ field.label_tag }}
		          	{{ field }}
          		{% endfor %}
          		<br>
    			<input type="submit" class="btn btn-default" value="Submit"/>
    			{% csrf_token %}
   	  		</form>
			</div>
		</div>
	</div>
</body>
</html>



