{% extends "grumblrapp/grumblr-base.html" %}


{% block title %} Search Results - Grumblr {% endblock %}

{% block css %}
<!-- Bootstrap core CSS -->
<link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">

<!-- Custom styles for this template -->
<link href="/static/css/search-results.css" rel="stylesheet">
<link href="/static/css/header-bar-style.css" rel="stylesheet">
<link href="/static/css/post.css" rel="stylesheet">
{% endblock %}

{% block base %}
{% if profile_posts %}
  <h2 style="margin-left:20px;"> Matching Results...</h2>
  {% for profile_post in profile_posts %}
    <!-- Grumblr Post -->
    {% include "grumblrapp/post.html" with post=profile_post.0 disliked=profile_post.1 followed=profile_post.2 token=csrf_token path='search-results' form=form blocked=profile_post.3 is_owner=profile_post.4 only %}
  {% endfor %}
{% else %}
  <h4> No matching results...</h4>
{% endif %}
{% endblock %}
