{% extends "grumblrapp/grumblr-base.html" %}

{% block title %} View Profile - Grumblr {% endblock %}

{% block css %}
<!-- Bootstrap core CSS -->
<link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">

<!-- Custom styles for this template -->
<link href="/static/css/header-bar-style.css" rel="stylesheet">
<link href="/static/css/view-profile-style.css" rel="stylesheet">
<link href="/static/css/post.css" rel="stylesheet">
{% endblock %}

{% block base %}
  
<div class="grumblr-profile-panel">
  <div class="container">
  <!-- cite: http://getbootstrap.com/examples/dashboard/ -->
    <div class="col-md-3 grumblr-sidebar" style="text-align:center">
      <ul class="nav nav-sidebar">
        <li>
          <div class="thumbnail" style="text-align:center">
            {% if profile.img %}
              <img class="img-thumbnail grumblr-profile" src="{{profile.img.url}}" alt="" width="160" height="160">
            {% else %}
              <img class="img-thumbnail grumblr-profile" src="user_pics/user_default.png" alt="" width="160" height="160">
            {% endif %}

            <div class="caption">
              {% if profile %}
                <h3>{{profile.user.username}}</h3>
              {% elif owner_profile %}
                <h3>{{owner_profile.user.username}}</h3>
              {% endif %}
              {% if profile.self_description %}
                <p>{{profile.self_description}}</p>
              {% elif owner_profile.self_description %}
                <p>{{owner_profile.self_description}}</p>
              {% endif %}
            </div>
            <ul class="list-group">
              {% if profile.email %}
              <li class="list-group-item disabled">Email</li>
              <li class="list-group-item">{{profile.email}}</li>
              {% elif owner_profile.email %}
              <li class="list-group-item disabled">Email</li>
              <li class="list-group-item">{{owner_profile.email}}</li>
              {% endif %}
              {% if profile.age %}
              <li class="list-group-item disabled">Age</li>
              <li class="list-group-item">{{profile.age}}</li>
              {% elif owner_profile.age %}
              <li class="list-group-item disabled">Age</li>
              <li class="list-group-item">{{owner_profile.age}}</li>
              {% endif %}
              {% if profile.birthday %}
              <li class="list-group-item disabled">Birthday</li>
              <li class="list-group-item">{{profile.birthday}}</li>
              {% elif owner_profile.birthday %}
              <li class="list-group-item disabled">Birthday</li>
              <li class="list-group-item">{{owner_profile.birthday}}</li>
              {% endif %}
            </ul>
            <!-- Edit Profile Button -->
            {% if is_owner %}
              <a href="{% url 'edit-profile' %}" class="btn btn-success grumblr-edit" type="button">Edit Profile</a>
            {% endif %}
          </div>
        </li>
        {% if not is_owner %}
        <li>
          <button class="btn btn-default follow" type="button">
            <span class="glyphicon glyphicon-minus"> Unfollow</span>
          </button>
        </li>
        {% endif %}
        <li>
          <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
              Following <span class="badge">{{follow_count}}</span>
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1" style="overflow:auto; max-height:200px; margin-bottom:10px;">                
              {% for pic_follower in pic_followers %}
              <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url 'view-profile-user' pic_follower.user.username %}">
                <img src="{{pic_follower.img.url}}" width="20" height="20"><b> {{pic_follower.user.username}}</b></a>
              </li>
              {% endfor %}
            </ul>
          </div>   
        </li>
      </ul>
    </div>

    <div class="col-md-9 usr-dashboard">
    <h3 style="text-align:center">Disliked Posts</h3>
      {% for comment_dislike in comment_dislikes  %}
        {% include "grumblrapp/post.html" with post=comment_dislike.0 followed=comment_dislike.1 form=form is_home=False is_view_profile=True disliked=True path='view-profile' token=csrf_token only %}
      {% endfor %}
    </div> <!-- usr-dashboard -->
  </div> <!-- container -->
</div> <!-- .grumblr-profile-panel -->

{% endblock %}