div.grumblr-view-user-panel {
	padding: 40px;
	background-color: #FFE9AA;
	border: 2px dashed #CA6573;
	border-radius: 20px 20px 20px 20px;
}

.separator {
	margin-top: 35px;
	margin-bottom: 35px;
	height: 15px;
	box-shadow: 0 10px 6px -6px black;
}

.row {
	margin-top: 10px;
	margin-bottom: 10px;
}

body {
	background-image: url('static/images/grumblr-background.jpg');
}

ul {
	list-style-type: none;
    padding-left: 0px;
}

/*
.alert.alert-success {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 40px;
}
*/