body {
	background-color: #D9534F;
	background-image: url('/static/images/grumblr-background.jpg');
	min-width: 510px;
}

.grumblr-dashboard {
	padding-top: 20px;
	padding-bottom: 20px;
	background-image: url('/static/images/grumblr-background.jpg');
}

.topform {
	margin: 0 auto;
	text-align: center;
	display: inline-block;
}

ul {
    list-style-type: none;
    padding-left: 0px;
}


