html {
	background-color: #D9534F;
}

body {
	background-color: #D9534F;
}

form {
	max-width: 400px;
	position: center;
	margin: 20px;
	margin-left: auto;
	margin-right: auto;
}

input {
	margin-top: 5px;
	margin-bottom: 5px; 
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.grumblr-signup {
	margin-bottom: 10px;
	width: 100%;
	padding: 10px 16px;
	font-size: 18px;
	line-height: 1.33;
	border-radius: 6px;
}

a.resetpw:hover {
	color: #555;
}

a, a:hover, a:active, a:link {
	color: #FFF;
	text-decoration: none;
}