img.user {
	margin: 8px;
	border-radius: 20px 0px 20px 0px;
	max-width: 120px;
	max-height: 120px;
}

img.grumblr-pic {
	margin-top: 20px;
	margin-bottom: 20px;
	max-height: 500px;
}

.nav-sidebar li {
	margin-top: 5px;
	margin-bottom: 5px;
}

.row.posts {
	vertical-align: middle;
	margin-top: 50px;
	margin-left: 20px;
	margin-right: 20px;
	background-color: #FFAAAA;
	border-radius: 20px 20px 20px 20px;
	box-shadow: 0 8px 6px -6px black;
}

.panel {
	margin: 10px;
	vertical-align: middle;
}

.panel-body {
	word-wrap: break-word;
}

ul {
    list-style-type: none;
    padding-left: 0px;
}

a, a:hover, a:active, a:link {
	text-decoration: none;
}

.grumblr-user {
	margin-bottom: 10px;
	margin-left: 8px;
	width: 70%;
	padding: 10px 16px;
	font-size: 18px;
	line-height: 1.33;
	border-radius: 6px;
}


/* For comment modal */
/* Cite: http://codepen.io/magnus16/pen/buGiB */
@import url(//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css);
.commentList {
    padding:0;
    list-style:none;
    max-height:200px;
    overflow:auto;
}
.commentList li {
    margin:0;
    margin-top:10px;
}
.commentList li > div {
    display:table-cell;
}
.commenterImage {
    width:30px;
    margin-right:5px;
    height:100%;
    float:left;
}
.commenterImage img {
    width:100%;
    border-radius:50%;
}
.commentText p {
    margin:0;
}
.sub-text {
    color:#aaa;
    font-family:verdana;
    font-size:11px;
}