.grumblr-profile-panel {
	margin-left: 40px;
	margin-right: 40px;
	margin-bottom: 40px;
	margin-top: 80px;
	border-radius: 20px 20px 20px 20px;
	padding-bottom: 40px;
	background-color: #FFE9AA;
	border: 2px dashed #CA6573;
}

.row {
	vertical-align: middle;
	margin-top: 50px;
	margin-left: 20px;
	margin-right: 20px;
	background-color: #FFAAAA;
	border-radius: 20px 20px 20px 20px;
	box-shadow: 0 8px 6px -6px black;
}

.panel {
	margin: 20px;
}

.panel-body {
	word-wrap: break-word;
}

.nav-sidebar li {
	list-style: none;
	margin: 10px;
}


.grumblr-edit, .grumblr-userview, .grumblr-home, .grumblr-logout {
	margin-bottom: 10px;
	width: 100%;
	padding: 10px 16px;
	font-size: 18px;
	line-height: 1.33;
	border-radius: 6px;
}

a.resetpw:hover {
	color: #555;
}

a, a:hover, a:active, a:link {
	color: #FFF;
	text-decoration: none;
}

.list-group li {
	margin: 0px;
}
.grumblr-profile-panel .grumblr-post img {
	margin-top: 20px;
	margin-bottom: 20px;
	max-height: 500px;
}

body {
	min-width: 510px;
	background-image: url('/static/images/grumblr-background.jpg');
}